:root {
    --blue: rgb(0, 179, 255);
    --lime: rgb(155 207 11);
    --mainColor: var(--lime);
}

body {
    display: grid;
    margin: 0 auto;
    font-weight: bold;
    min-height: 100dvh;
    grid-template-columns: 200px 1fr;
}

nav {
    background: rgb(213 232 212);
}

.mainColor {
    background: var(--mainColor);
}

.p15 {
    padding: 15px;
}

.container {
    display: grid;
    grid-template-rows: 150px 1fr 150px;
}